<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500&family=Open+Sans&display=swap" rel="stylesheet">
	
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
	<link rel="stylesheet" href="{{ `css/test.css` | relURL}}">
    <link rel="stylesheet" href="{{ `css/reset.css` | relURL}}">
	<link rel="icon" type="image/png" href="/images/favicon.png" />
    <title>Greyfield</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
</head>
<body>
	<main id="slidingPages">
<!--video section		-->
		<section class="video">
			<div class="sectionTab">
				<h1>Introduction <i class="fas fa-play"></i></h1>
			</div>
			
			<div class="vidContent">
				<div>
					<div id="volumeGroup">
						<button type="button" class="button" id="mute"><i class="fa fa-volume-up"></i></button>
						<input type="range" class="slider" id="volume" min="0" max="1" step="0.1" value="1">
					</div>
					<div id="videoContainer">
						<video id="video">
							<source src="/video/Workshop_animation.MP4" type="video/mp4">
						</video>
					</div>
					<div id="playGroup">
						<button type="button" id="playPause"></button>
						<input type="range" class="slider" id="seeker" value="0">
						<button type="button" class="button" id="fullScreen"></button>
					</div>
				</div>
			</div>
		</section>
<!--how section		-->
		<section class="how close">
			<div class="sectionTab">
				<h1>How it Works</h1>
			</div>
			<div class="content">
				<p></p>
				<div class="height"></div>
			</div>
		</section>
<!--contact section		-->		
		<section class="contact close">
			<div class="sectionTab">
				<h1>Get Involved</h1>
			</div>
			<div class="content">
				
			</div>
		</section>
<!--West ken tab	-->			
		<section class="example">
			<div class="sectionTab">
				<h1>West Ken</h1>
			</div>
		</section>
	</main>
</body>
</html>
<script src="{{ `js/script.js` | relURL}}"></script>