/*----------global styles----------*/

* {
	box-sizing: border-box;
}

:root {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	line-height: 18px;
	--project-pink: #FEC8EE;
	--project-red: #FE3D00;
	--project-brown: #C0A688;
	--project-grey-one: #E5E1E4;
	--project-grey-two: #A6A4A1;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;

}

::-webkit-scrollbar {
    display: none;
}

/*svg text, remove!*/

body {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	font-weight: 500;
	font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Varela Round', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
    transition: color .4s;
}

a:hover {
    color: var(--project-pink);
}

/*----------sliding pages----------*/

#slidingPages {
	position: relative;
	width: 100vw;
	height: 100vh;
}

#slidingPages section {
	position: absolute;
    height: 100vh;
}

.sectionTab {
	z-index: 100;
	position: fixed;
    width: 100vw;
	height: 60px;
    cursor: pointer;
	overflow: hidden;
}

.sectionTab h1{
    text-align: left;
    font-size: 1.9em;
    text-transform: uppercase;
    width: 100vh;
    margin-bottom: 0;
	color: #fff;
	display: inline-block;
	pointer-events: none;
}

@media screen and (min-width: 700px) {
	.sectionTab {
		width: 60px;
		height: 100vh;
		top: 0;
		left: 0;
	}
	
	.sectionTab h1{
		text-align: right;
		transform: translateX(-50vh) translateX(+31px) translateY(50vh) rotate(-90deg);
		text-align: right;
		width: 100vh;
	}
}

/*section content styling*/

.content {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100vh;
	width: 100vw;
	scrollbar-width: none;
}

.heroText {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.5;
	font-size: 3vw;
}

/*secion tab colours*/

.video h1{
	color: #fff;
}

.video .sectionTab{
	background-color: rgba(0,0,0,0.2);
	
}

.how .sectionTab{
	background-color: lightgrey;
	background-color: var(--project-grey-one);
}

.contact .sectionTab{
	background-color: pink;
	background-color: var(--project-pink);
}

.example .sectionTab{
	background-color: red;
	background-color: var(--project-red);
}

.example {
	height: 80px;
	top: calc(100vh - 60px);
	transition: 1s,transform 1s,margin-left 0.25s;
}

@media screen and (min-width: 700px) {	
	.example .sectionTab {
		left: calc(100vw - 60px);
	}
}

/*section movement*/

.how {
	top: 60px;
	left: 0;
	background-color: white;
	width: 100vw;
	transform: translateX(0);
	transition: 1s,transform 1s,margin-left 0.25s;
	transition-timing-function: ease;
}

.contact {
	top: 120px;
	background-color: white;
	width: 100vw;
	transition: transform 1s,margin-left 0.25s;
	transition-timing-function: ease;
}

.close {
	transform:translateY(calc(100vh - 240px));
}

@media screen and (min-width: 700px) {	
	.how {
		top: 0px; 
		left: 60px;
		transform:translateX(0)
	}
	
	.contact {
		top: 0;
		left: 120px;
		transform:translateX(0)
	}
	
	.close {
		transform:translateY(0);
		transform:translateX(calc(100vw - 240px));
	}

}

/*----------video section content----------*/

    
.vidContent {
	width: 100vw;
	height: 100%; 
	background-image: url(/images/IMG_4111.jpg);
	background-position: center; 
  	background-repeat: no-repeat; 
  	background-size: cover;
}

.vidContent > div {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	left: 60px;
	width: calc(100% - 240px);
	height: 100vh;
}

/*vidoe player*/

#videoContainer video {
	display: block;
	width: 100%;
}

#videoContainer {
	width: 80%;
	max-height: 80vh;
	overflow: hidden;
	border-radius: 1em;
	position: relative;
}


#videoContainer .heroText {
	position: absolute;
	color: #fff;
	top: 0;
	padding: .8em 1.2em;
	opacity: 1;
	transition: opacity 0.3s;
	top: 50%;
	transform: translateY(-50%);
}

#fadeText.fade {
	opacity: 0;
}


button {
	background-color: transparent;
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: center;
/*	font-size: 16px;*/
	border: none;
/*	padding-right: 2em;*/
	color: #fff;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #fff;
  outline: none;
  
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}


#playGroup {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2em;
}

#seeker {
	width: 80%;
}

#playPause:before {
	content: '\f04b';
    font-family: 'Font Awesome 5 Free';
	font-weight: 900;
    display: inline-block;
    font-size: 4em;
    color: white;
    -webkit-font-smoothing: antialiased;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

#fullScreen:before { 
	content: '\f065';
    font-family: 'Font Awesome 5 Free';
	font-weight: 900;
    display: block;
	font-size: 4em;
    color: #fff;
    -webkit-font-smoothing: antialiased;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

#volumeGroup {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 12em;
	padding: 1em 0;
	align-items: center;
}

#mute .fa {
	font-size: 2em;
}

#playPause.play:before {
    content: '\f04b';
    font-family: 'Font Awesome 5 Free';    
}

#playPause.pause:before {
    content: '\f04c';
    font-family: 'Font Awesome 5 Free';
}

.height{
	padding: 1em 4em; 
	width: 10px; 
	height: 1000px;
	background-image: linear-gradient(red, yellow);
}

/*----------slide out content----------*/

.slide .content {
	padding: 60px 180px 240px 60px;
}

.slide .content > div {
	width: 80%;
	margin: auto;
	padding-top: 8vh;
}

@media screen and (min-width: 700px) {
	.slide .content {
		padding: 0 180px 60px 60px;
	}
}

/*How slide Section*/

p {
	padding-bottom: 1em;
}

/*flow digram*/

.st0{
	fill:none;stroke:#000000;stroke-width:3;
}
.st1{
	fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:3.9986;
}
.st2{
	fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:3.9991;
}
.st3{
	fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:3.9992;stroke-dasharray:9.9979;
}
.st4{
	fill:#FFFFFF;stroke:#000000;stroke-width:4;
} 
.text {
	font-family: 'VarelaRound-Regular', sans-serif;
}
.st6{
	font-size:37px;
}

.st7{
	fill: #FD46CE;
}

.bubble {
	cursor: pointer;
}

.bubble .corners {
	display: none;
}

.bubble:hover .corners {
	display: block;
}

.flowDiagram {
	width: 80%;
}


/*----------get involved----------*/

.contact h2 {
	font-size: 2em; 
	color: var(--project-red);
	padding: 1em 0;
}

#contactForm {
	width: 100%;
}

form ul{
	display: flex;
	flex-direction: column;
}

form li{
	padding-bottom: 1em;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

li input, li textarea {
	width: 40%;
	min-height: 2em;
	border: dashed 1.5px;
}

li textarea { 
	min-height: 6em;
}

.lable {
	min-width: 10em;
}

#contactForm path {
	fill: var(--project-grey-one);
}

#contactForm text {
	font-family: 'Varela Round', sans-serif;
	font-size: 37px;
	fill: #fff;
}

#send {
	justify-content: space-around;
}

#send button {
	width: 20%;
	cursor: pointer;
}

button svg {
	width: 100%;
}

#frame path{
	fill: #FD46CE;
	stroke: none;
}

#send button #frame {
	display: none;
}

#send button:hover #frame {
	display: block;
}

table {
	width: 100%;
}

th {
	text-align: left;
	padding: 1em;
}

table tr:nth-child(1) {
	border-bottom: dashed 2px;
}

tr {
	border-bottom: solid 1.5px;
}
